<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
          <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <span>
          <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>
      </a>
    </div>

    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto mt-md-0 ">
        <li class="nav-item m-l-10">
          <a class="nav-link sidebartoggler hidden-lg-up text-muted waves-effect waves-dark" (click)="toggleSidebar.emit()">
            <i class="ti-menu"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav my-lg-0 ml-auto">
        <!--SEARCH BOX-->
        <li class="nav-item hidden-sm-down search-box">
          <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" (click)="toggleSearchBox()">
            <i class="ti-search"></i>
          </a>
          <form class="app-search" *ngIf="searchBoxVisible">
            <input type="text" class="form-control" placeholder="Search & enter">
            <a class="srh-btn" (click)="toggleSearchBox()"><i class="ti-close"></i></a>
          </form>
        </li>

        <!--PROFILE-->
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
          <a ngbDropdownToggle href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             class="nav-link dropdown-toggle text-muted waves-effect waves-dark">
            <img src="assets/images/users/1.jpg" alt="user" class="profile-pic" />
          </a>
          <div class="dropdown-menu dropdown-menu-right animated slideInDown" ngbDropdownMenu>
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img">
                    <img src="assets/images/users/1.jpg" alt="user">
                  </div>
                  <div class="u-text">
                    <h4>Person Name</h4>
                    <p class="text-muted">person@email.com</p>
                    <a href="#" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#"><i class="ti-user"></i> My Profile</a>
              </li>
              <li>
                <a href="#"><i class="ti-wallet"></i> My Balance</a>
              </li>
              <li>
                <a href="#"><i class="ti-email"></i> Inbox</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#"><i class="ti-settings"></i> Account Setting</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#"><i class="fa fa-power-off"></i> Logout</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
